<app-banner banner="Sign In"></app-banner>

<div class="container">
    <h1 class="form-title">SIGN IN</h1>
    <form [formGroup]="FormInput" (ngSubmit)="login()">
      <div class="main-user-info">
        <div class="user-input-box">
          <label for="email">Email</label>
          <input type="email"
                 id="email"
                 name="email"
                 formControlName="email"
                 placeholder="Enter Email"/>
          <div *ngIf="!FormInput.pristine && FormInput.controls['email'].hasError('required')" class="validation-message" class="alert alert-warning alert-dismissible fade show" >
            Email address is required. <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <div *ngIf="FormInput.controls['email'].hasError('email')" class="validation-message" class="alert alert-warning alert-dismissible fade show" >
            Please enter a valid email address.                               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

          </div>
        </div>
       
        <div class="user-input-box">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 
                 name="password"
                 formControlName="password"
                 placeholder="Enter Password"/>
          <div *ngIf="FormInput.controls['password'].hasError('minlength')" class="validation-message">
            The password must be at least 8 characters long.
          </div>
          <div *ngIf="FormInput.controls['password'].hasError('pattern')" class="validation-message">
            The password must include at least one uppercase letter, one lowercase letter, one number, and one special character.
          </div>
        </div>
      </div>
     
      <div class="form-submit-btn">
        <input type="submit" value="SIGN IN" [disabled]="FormInput.invalid">
        
      </div>
      
      <div class="alert alert-danger" role="alert">
        {{errormsg}}
      </div>
    </form>
</div>
