<app-banner [a]="title"></app-banner>

  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div *ngFor="let item of result">
           <app-result [x]="item"></app-result>
          </div>
          <form #searchMatchByTeam="ngForm" (ngSubmit)="Search()">
            <div class="form-group">
              <input type="text" [(ngModel)]="obj.team" name="team"   class="form-control" placeholder="Search">
            </div>
           
            
        
            <div class="form-group">
              <input type="submit" class="btn btn-primary py-3 px-5" value="Search">
            </div>
            
          </form>  
        </div>
       
      </div>
    </div>
  </div>
